# Virtual Environment
.venv/
venv/

# Environment variables & secrets
.env
.env.*
!.env.example

# Exclude contents of data and outputs, but keep the folders via .gitkeep
data/*
!data/.gitkeep
outputs/*
!outputs/.gitkeep

# Python artifacts
__pycache__/
*.pyc